<h2>Add a celebrity:</h2>
<form action="" method="POST">
    <label for="Name">Name
        <input type="text" name="name">
    </label>
    <label for="Occupation"> Occupation
        <input type="text" name="occupation">
    </label>
    <label for="catchPhrase"> Catch Phrase
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit">Submit</button>
</form>

